[Desktop Entry]
Name=Martix
Comment=Intelligent Real-time File Organizer
Exec=__MARTIX_EXEC__
Icon=folder-download
Terminal=false
Type=Application
Categories=Utility;System;FileTools;
StartupNotify=true
X-GNOME-Autostart-enabled=true
